$main-color: rgb(212, 209, 209);

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: black;
}

.weatherSection {
  width: 40%;
  padding: 30px;
  background-color: #6285a5;

  @media screen and(max-width:1020px) {
    width: 100%;
  };

  h2 {
    color: $main-color;
  }

  h3 {
    color: white;
  }

  .group {
    position: relative;

    .formInput {
      background: none;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $main-color;
      margin: 25px 0;
      letter-spacing: 0.3rem;

      &:focus {
        outline: none;
      }

      &:focus ~ .formLabel {
        @include shrinkLabel();
      }
    }

    .formLabel {
      color: $main-color;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;

      left: 5px;
      top: 10px;
      transition: 300ms ease all;
      letter-spacing: 0.1rem;

      &.shrink {
        @include shrinkLabel();
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: $main-color;
    margin-top: 60px;
  }

  .details {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: $main-color;

        &:first-child {
          color: $main-color;
        }

        .info {
          color: white;
        }
      }
    }
  }
}
