.landingPhoto {
  background-size: cover;
  width: 60%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @media screen and(max-width:1020px) {
    width: 100%;
    height: 80vh;
  }

  .weatherInfo {
    width: 85%;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 40px;

    @media screen and(max-width:704px) {
      width: 100%;
      display: block;
    }

    h1 {
      color: white;
      font-size: 6rem;

      @media screen and(max-width:704px) {
        margin: 0px;
        font-size: 4.5rem;
      }
    }

    .city {
      position: relative;

      h2 {
        color: white;
        font-size: 3rem;
        margin: 0;
      }

      .extraInfo {
        position: absolute;
        bottom: -25px;
        left: 10px;
        white-space: nowrap;

        h4 {
          margin: 0;
          color: white;
          font-size: 1.23rem;
        }
      }
    }
    .icon {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;

      @media screen and(max-width:704px) {
        display: block;
        margin-top: 10px;
      }

      h4 {
        margin: 0;
        color: white;
        font-size: 1.23rem;
        position: absolute;
        bottom: -10px;

        @media screen and(max-width:704px) {
          left: 14px;
        }
      }
    }
  }
}
